<div class="mb-5">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link {{#ifEq categoryId ''}}active{{/ifEq}}" href="?categoryId=">All</a>
    </li>
    {{#each categories}}
    <li class="nav-item">
      <a class="nav-link {{#ifEq ../categoryId this.id}}active{{/ifEq}}"
        href="?categoryId={{this.id}}">{{this.name}}</a>
    </li>
    {{/each}}
  </ul>
</div>

<div class="row">
  {{#each restaurants}}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img class="card-img-top" src="{{this.image}}" alt="Card image cap" width="286px" height="180px">
      <div class="card-body">
        <p class="card-text">
          <a href="/restaurants/{{this.id}}">
            {{this.name}}
          </a>
        </p>
        <span class="badge badge-secondary">{{this.Category.name}}</span>
        <p class="card-text">{{this.desc}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<br />
<br />