<h1>Popular Users</h1>
<hr />
<div class="row" style="text-align: center;">
  {{#each users}}
  <div class="col-3">
    {{!-- <a href="/users/{{this.id}}">
      <img class="" src="{{this.image}}" width="140px" height="140px">
    </a> --}}
    <h2>{{this.name}}</h2>
    <span class="badge badge-secondary">Followers: {{this.FollowerCount}}</span>
    <p>
      {{#if this.isFollowed }}
    <form action="/following/{{this.id}}?_method=DELETE" method="POST" style="display: contents;"><button type="submit"
        class="btn btn-danger">unfollow</button></form>
    {{else}}
    <form action="/following/{{this.id}}" method="POST" style="display: contents;"><button type="submit"
        class="btn btn-primary">follow</button></form>
    {{/if}}
    </p>
  </div>
  {{/each}}
</div>